# 1. Read "clean_me.csv" file with marked unknown columns.

In [4]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Spark CSV file reader") \
    .getOrCreate()

filePath = "input_csv_files/clean_me.csv"

# Read CSV file with the specified options
clean_meDF = spark.read \
  .option("header", "true") \
  .option("inferSchema", "true") \
  .csv(filePath)

# Register the DataFrame as a SQL temporary view
clean_meDF.createOrReplaceTempView("clean_me")

clean_meDF.show()

+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
|order_id|delivery_company|quantity| price|ordered_date|            address|                  x1|                  x2|   x3|   x4|
+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
|       1| delivery_comp_1|       1| 245.0|          52|           9/2/2022|  Cedar Lane Houston|            CA 90001| null| null|
|       2| delivery_comp_2|       2| 114.0|          77|               null|         Main Street|   New York CA 60601| null| null|
|       3| delivery_comp_3|    null| 739.0|          43|          14-3-2022|         Main Street|    Chicago TX 10001| null| null|
|       4| delivery_comp_0|       1|878.93|   20/4/2022|         Oak Avenue|Los Angeles FL 90001|                null| null| null|
|       5| delivery_comp_1|       2| 481.0|          44|               null| Maple Drive Chicago|            FL 60601| null| null|
|       6| delivery_comp_2|     #NA|  78.0|          13|               null|         Main Street|    Houston NY 77001| null| null|
|       7| delivery_comp_3|       1|832.17|   20-2-2022|Oak Avenue New York|            CA 10001|                null| null| null|
|       8| delivery_comp_0|       2| 687.0|           8|           1/4/2022|         Maple Drive|         Los Angeles|   CA|10001|
|       9| delivery_comp_1|     #NA| 338.0|          44|          13/4/2022|    Cedar Lane Miami|            NY 77001| null| null|
|      10| delivery_comp_2|       1|461.33|        null|         Oak Avenue|             Chicago|            NY 77001| null| null|
|      11| delivery_comp_3|       2|544.33|    8/4/2022|         Oak Avenue|         Los Angeles|            CA 90001| null| null|
|      12| delivery_comp_0|      NA| 200.0|          20|               null|          Cedar Lane|Los Angeles FL 77001| null| null|
|      13| delivery_comp_1|       1| 939.0|          99|               null|         Main Street|             Chicago|   IL|33101|
|      14| delivery_comp_2|       2|  72.0|          69|           2/3/2022|          Oak Avenue|         Los Angeles|   NY|33101|
|      15| delivery_comp_3|    null|635.28|   15-2-2022|        Main Street|               Miami|            FL 10001| null| null|
|      16| delivery_comp_0|       1|592.83|    2/3/2022|        Main Street|         Los Angeles|                  FL|90001| null|
|      17| delivery_comp_1|       2| 533.6|    2/3/2022|        Maple Drive|             Houston|            TX 90001| null| null|
|      18| delivery_comp_2|     NaN| 424.7|        null|         Cedar Lane|            New York|            TX 33101| null| null|
|      19| delivery_comp_3|       1| 889.0|          97|           4/3/2022|          Elm Street|      Miami TX 90001| null| null|
|      20| delivery_comp_0|       2|222.12|   20/3/2022|        Maple Drive|               Miami|            IL 77001| null| null|
+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
only showing top 20 rows

# 2. CSV Format Fixing

In [8]:
fixedFormatDF = spark.sql(
    "SELECT " +
      "order_id, " +
      "delivery_company, " +
      "CASE " +
        "WHEN (quantity IS NULL OR quantity IN ('1', '2', 'NA', 'null', '#NA', 'NaN', 'NULL')) AND ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' " +
        "THEN ordered_date " +
        "ELSE quantity " +
      "END AS quantity, " +
      "price, " +
      "CASE " +
        "WHEN ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' AND address = 'null' " +
        "THEN address " +
        "WHEN ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' AND (address LIKE '%-%' OR address LIKE '%/%') " +
        "THEN address " +
        "ELSE ordered_date " +
      "END AS ordered_date, " +
      "CASE " +
        "WHEN CONTAINS( " +
          "CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,'')), " + 
          "CASE " +
            "WHEN address != 'null' AND address NOT LIKE '%-%' AND address NOT LIKE '%/%' " +
            "THEN address " +
            "ELSE x1 " +
          "END) = TRUE " +
        "THEN CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,'')) " +
        "ELSE CONCAT( " +
          "CASE " +
            "WHEN address != 'null' AND address NOT LIKE '%-%' AND address NOT LIKE '%/%' " +
            "THEN address " +
            "ELSE x1 " +
          "END, " + 
          "' ', " +
          "CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,''))) " +
      "END AS address " +
    "FROM clean_me"
)

fixedFormatDF.show(20, truncate=False)

+--------+----------------+--------+------+------------+----------------------------------+
|order_id|delivery_company|quantity|price |ordered_date|address                           |
+--------+----------------+--------+------+------------+----------------------------------+
|1       |delivery_comp_1 |52      |245.0 |9/2/2022    |Cedar Lane Houston CA 90001       |
|2       |delivery_comp_2 |77      |114.0 |null        |Main Street New York CA 60601     |
|3       |delivery_comp_3 |43      |739.0 |14-3-2022   |Main Street Chicago TX 10001      |
|4       |delivery_comp_0 |1       |878.93|20/4/2022   |Oak Avenue Los Angeles FL 90001   |
|5       |delivery_comp_1 |44      |481.0 |null        |Maple Drive Chicago FL 60601      |
|6       |delivery_comp_2 |13      |78.0  |null        |Main Street Houston NY 77001      |
|7       |delivery_comp_3 |1       |832.17|20-2-2022   |Oak Avenue New York CA 10001      |
|8       |delivery_comp_0 |8       |687.0 |1/4/2022    |Maple Drive Los Angeles CA 10001  |
|9       |delivery_comp_1 |44      |338.0 |13/4/2022   |Cedar Lane Miami NY 77001         |
|10      |delivery_comp_2 |null    |461.33|null        |Oak Avenue Chicago NY 77001       |
|11      |delivery_comp_3 |2       |544.33|8/4/2022    |Oak Avenue Los Angeles CA 90001   |
|12      |delivery_comp_0 |20      |200.0 |null        |Cedar Lane Los Angeles FL 77001   |
|13      |delivery_comp_1 |99      |939.0 |null        |Main Street Chicago IL 33101      |
|14      |delivery_comp_2 |69      |72.0  |2/3/2022    |Oak Avenue Los Angeles NY 33101   |
|15      |delivery_comp_3 |null    |635.28|15-2-2022   |Main Street Miami FL 10001        |
|16      |delivery_comp_0 |1       |592.83|2/3/2022    |Main Street Los Angeles FL 90001  |
|17      |delivery_comp_1 |2       |533.6 |2/3/2022    |Maple Drive Houston TX 90001      |
|18      |delivery_comp_2 |null    |424.7 |null        |Cedar Lane New York TX 33101      |
|19      |delivery_comp_3 |97      |889.0 |4/3/2022    |Elm Street Miami TX 90001         |
|20      |delivery_comp_0 |2       |222.12|20/3/2022   |Maple Drive Miami IL 77001        |
+--------+----------------+--------+------+------------+----------------------------------+
only showing top 20 rows

# 3. Data Types Fixing

In [11]:
fixedFormatDF.createOrReplaceTempView("fixed_format_df")

dataTypefixingDF = spark.sql(
    "SELECT " +
      "order_id, " +
      "delivery_company, " +
      "quantity, " +
      "CAST(price AS DECIMAL(9,2)) AS price, " +
      "CASE " +
        "WHEN ordered_date != 'null' " +
        "THEN replace(ordered_date, '/', '-') " +
        "ELSE ordered_date " +
      "END AS ordered_date, " +
      "address " +
    "FROM fixed_format_df"
).show(50, truncate=False)

+--------+----------------+--------+------+------------+-----------------------------------+
|order_id|delivery_company|quantity|price |ordered_date|address                            |
+--------+----------------+--------+------+------------+-----------------------------------+
|1       |delivery_comp_1 |52      |245.00|9-2-2022    |Cedar Lane Houston CA 90001        |
|2       |delivery_comp_2 |77      |114.00|null        |Main Street New York CA 60601      |
|3       |delivery_comp_3 |43      |739.00|14-3-2022   |Main Street Chicago TX 10001       |
|4       |delivery_comp_0 |1       |878.93|20-4-2022   |Oak Avenue Los Angeles FL 90001    |
|5       |delivery_comp_1 |44      |481.00|null        |Maple Drive Chicago FL 60601       |
|6       |delivery_comp_2 |13      |78.00 |null        |Main Street Houston NY 77001       |
|7       |delivery_comp_3 |1       |832.17|20-2-2022   |Oak Avenue New York CA 10001       |
|8       |delivery_comp_0 |8       |687.00|1-4-2022    |Maple Drive Los Angeles CA 10001   |
|9       |delivery_comp_1 |44      |338.00|13-4-2022   |Cedar Lane Miami NY 77001          |
|10      |delivery_comp_2 |null    |461.33|null        |Oak Avenue Chicago NY 77001        |
|11      |delivery_comp_3 |2       |544.33|8-4-2022    |Oak Avenue Los Angeles CA 90001    |
|12      |delivery_comp_0 |20      |200.00|null        |Cedar Lane Los Angeles FL 77001    |
|13      |delivery_comp_1 |99      |939.00|null        |Main Street Chicago IL 33101       |
|14      |delivery_comp_2 |69      |72.00 |2-3-2022    |Oak Avenue Los Angeles NY 33101    |
|15      |delivery_comp_3 |null    |635.28|15-2-2022   |Main Street Miami FL 10001         |
|16      |delivery_comp_0 |1       |592.83|2-3-2022    |Main Street Los Angeles FL 90001   |
|17      |delivery_comp_1 |2       |533.60|2-3-2022    |Maple Drive Houston TX 90001       |
|18      |delivery_comp_2 |null    |424.70|null        |Cedar Lane New York TX 33101       |
|19      |delivery_comp_3 |97      |889.00|4-3-2022    |Elm Street Miami TX 90001          |
|20      |delivery_comp_0 |2       |222.12|20-3-2022   |Maple Drive Miami IL 77001         |
|21      |delivery_comp_1 |18      |111.00|4-2-2022    |Maple Drive Los Angeles TX 60601   |
|22      |delivery_comp_2 |54      |167.00|3-2-2022    |Maple Drive Chicago NY 33101       |
|23      |delivery_comp_3 |2       |169.48|25-2-2022   |Cedar Lane Miami IL 10001          |
|24      |delivery_comp_0 |#NA     |747.71|16-3-2022   |Cedar Lane Chicago FL 77001        |
|25      |delivery_comp_1 |47      |118.00|15-4-2022   |Main Street Los Angeles TX 60601   |
|26      |delivery_comp_2 |null    |465.48|null        |Elm Street Los Angeles FL 60601    |
|27      |delivery_comp_3 |null    |650.20|null        |Oak Avenue Miami IL 60601          |
|28      |delivery_comp_0 |1       |45.88 |9-2-2022    |Main Street Los Angeles IL 33101   |
|29      |delivery_comp_1 |48      |749.00|17-3-2022   |Oak Avenue Houston FL 60601        |
|30      |delivery_comp_2 |43      |987.00|24-3-2022   |Cedar Lane Miami CA 90001          |
|31      |delivery_comp_3 |37      |106.00|null        |Elm Street Miami CA 10001          |
|32      |delivery_comp_0 |2       |720.70|20-2-2022   |Oak Avenue New York FL 90001       |
|33      |delivery_comp_1 |NULL    |713.49|9-2-2022    |Maple Drive Houston FL 60601       |
|34      |delivery_comp_2 |null    |296.94|null        |Maple Drive Chicago CA 60601       |
|35      |delivery_comp_3 |2       |76.19 |4-4-2022    |Main Street Los Angeles CA 10001   |
|36      |delivery_comp_0 |49      |883.00|19-3-2022   |Maple Drive New York CA 90001      |
|37      |delivery_comp_1 |null    |771.72|null        |Elm Street Miami CA 10001          |
|38      |delivery_comp_2 |23      |69.00 |null        |Cedar Lane Houston NY 10001        |
|39      |delivery_comp_3 |null    |933.20|null        |Elm Street New York FL 33101       |
|40      |delivery_comp_0 |1       |238.47|5-3-2022    |Cedar Lane Chicago TX 10001        |
|41      |delivery_comp_1 |59      |684.00|10-2-2022   |Maple Drive New York FL 60601      |
|42      |delivery_comp_2 |NA      |540.13|8-1-2022    |Maple Drive Los Angeles NY 33101   |
|43      |delivery_comp_3 |1       |563.00|15-3-2022   |Cedar Lane Los Angeles CA 77001    |
|44      |delivery_comp_0 |75      |187.00|2-2-2022    |Oak Avenue Los Angeles CA 10001    |
|45      |delivery_comp_1 |NaN     |951.66|13-3-2022   |Elm Street Los Angeles NY 10001    |
|46      |delivery_comp_2 |1       |815.97|19-2-2022   |Main Street Chicago TX 60601       |
|47      |delivery_comp_3 |57      |162.00|19-2-2022   |Oak Avenue New York FL 60601       |
|48      |delivery_comp_0 |#NA     |279.62|6-1-2022    |Elm Street New York IL 60601       |
|49      |delivery_comp_1 |36      |314.00|null        |Cedar Lane Houston NY 10001        |
|50      |delivery_comp_2 |2       |410.58|9-2-2022    |Maple Drive New York IL 77001      |
+--------+----------------+--------+------+------------+-----------------------------------+
only showing top 50 rows