# 1. Read "clean_me.csv" file with marked unknown columns.

In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Spark CSV file reader") \
    .getOrCreate()

filePath = "input_csv_files/clean_me.csv"

# Read CSV file with the specified options
clean_meDF = spark.read \
  .option("header", "true") \
  .option("inferSchema", "true") \
  .csv(filePath)

# Register the DataFrame as a SQL temporary view
clean_meDF.createOrReplaceTempView("clean_me")

clean_meDF.show()

+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
|order_id|delivery_company|quantity| price|ordered_date|            address|                  x1|                  x2|   x3|   x4|
+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
|       1| delivery_comp_1|       1| 245.0|          52|           9/2/2022|  Cedar Lane Houston|            CA 90001| null| null|
|       2| delivery_comp_2|       2| 114.0|          77|               null|         Main Street|   New York CA 60601| null| null|
|       3| delivery_comp_3|    null| 739.0|          43|          14-3-2022|         Main Street|    Chicago TX 10001| null| null|
|       4| delivery_comp_0|       1|878.93|   20/4/2022|         Oak Avenue|Los Angeles FL 90001|                null| null| null|
|       5| delivery_comp_1|       2| 481.0|          44|               null| Maple Drive Chicago|            FL 60601| null| null|
|       6| delivery_comp_2|     #NA|  78.0|          13|               null|         Main Street|    Houston NY 77001| null| null|
|       7| delivery_comp_3|       1|832.17|   20-2-2022|Oak Avenue New York|            CA 10001|                null| null| null|
|       8| delivery_comp_0|       2| 687.0|           8|           1/4/2022|         Maple Drive|         Los Angeles|   CA|10001|
|       9| delivery_comp_1|     #NA| 338.0|          44|          13/4/2022|    Cedar Lane Miami|            NY 77001| null| null|
|      10| delivery_comp_2|       1|461.33|        null|         Oak Avenue|             Chicago|            NY 77001| null| null|
|      11| delivery_comp_3|       2|544.33|    8/4/2022|         Oak Avenue|         Los Angeles|            CA 90001| null| null|
|      12| delivery_comp_0|      NA| 200.0|          20|               null|          Cedar Lane|Los Angeles FL 77001| null| null|
|      13| delivery_comp_1|       1| 939.0|          99|               null|         Main Street|             Chicago|   IL|33101|
|      14| delivery_comp_2|       2|  72.0|          69|           2/3/2022|          Oak Avenue|         Los Angeles|   NY|33101|
|      15| delivery_comp_3|    null|635.28|   15-2-2022|        Main Street|               Miami|            FL 10001| null| null|
|      16| delivery_comp_0|       1|592.83|    2/3/2022|        Main Street|         Los Angeles|                  FL|90001| null|
|      17| delivery_comp_1|       2| 533.6|    2/3/2022|        Maple Drive|             Houston|            TX 90001| null| null|
|      18| delivery_comp_2|     NaN| 424.7|        null|         Cedar Lane|            New York|            TX 33101| null| null|
|      19| delivery_comp_3|       1| 889.0|          97|           4/3/2022|          Elm Street|      Miami TX 90001| null| null|
|      20| delivery_comp_0|       2|222.12|   20/3/2022|        Maple Drive|               Miami|            IL 77001| null| null|
+--------+----------------+--------+------+------------+-------------------+--------------------+--------------------+-----+-----+
only showing top 20 rows

# 2. CSV Format Fixing

In [5]:
fixedFormatDF = spark.sql(
    "SELECT " +
      "order_id, " +
      "delivery_company, " +
      "CASE " +
        "WHEN (quantity IS NULL OR quantity IN ('1', '2', 'NA', 'null', '#NA', 'NaN', 'NULL')) AND ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' " +
        "THEN ordered_date " +
        "ELSE quantity " +
      "END AS quantity, " +
      "price, " +
      "CASE " +
        "WHEN ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' AND address = 'null' " +
        "THEN address " +
        "WHEN ordered_date NOT LIKE '%-%' AND ordered_date NOT LIKE '%/%' AND (address LIKE '%-%' OR address LIKE '%/%') " +
        "THEN address " +
        "ELSE ordered_date " +
      "END AS ordered_date, " +
      "CASE " +
        "WHEN CONTAINS( " +
          "CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,'')), " + 
          "CASE " +
            "WHEN address != 'null' AND address NOT LIKE '%-%' AND address NOT LIKE '%/%' " +
            "THEN address " +
            "ELSE x1 " +
          "END) = TRUE " +
        "THEN CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,'')) " +
        "ELSE CONCAT( " +
          "CASE " +
            "WHEN address != 'null' AND address NOT LIKE '%-%' AND address NOT LIKE '%/%' " +
            "THEN address " +
            "ELSE x1 " +
          "END, " + 
          "' ', " +
          "CONCAT(IFNULL(x1,''), ' ', IFNULL(x2,''), ' ', IFNULL(x3,''), ' ', IFNULL(x4,''))) " +
      "END AS address " +
    "FROM clean_me"
).show(20, truncate=False)

+--------+----------------+--------+------+------------+----------------------------------+
|order_id|delivery_company|quantity|price |ordered_date|address                           |
+--------+----------------+--------+------+------------+----------------------------------+
|1       |delivery_comp_1 |52      |245.0 |9/2/2022    |Cedar Lane Houston CA 90001       |
|2       |delivery_comp_2 |77      |114.0 |null        |Main Street New York CA 60601     |
|3       |delivery_comp_3 |43      |739.0 |14-3-2022   |Main Street Chicago TX 10001      |
|4       |delivery_comp_0 |1       |878.93|20/4/2022   |Oak Avenue Los Angeles FL 90001   |
|5       |delivery_comp_1 |44      |481.0 |null        |Maple Drive Chicago FL 60601      |
|6       |delivery_comp_2 |13      |78.0  |null        |Main Street Houston NY 77001      |
|7       |delivery_comp_3 |1       |832.17|20-2-2022   |Oak Avenue New York CA 10001      |
|8       |delivery_comp_0 |8       |687.0 |1/4/2022    |Maple Drive Los Angeles CA 10001  |
|9       |delivery_comp_1 |44      |338.0 |13/4/2022   |Cedar Lane Miami NY 77001         |
|10      |delivery_comp_2 |null    |461.33|null        |Oak Avenue Chicago NY 77001       |
|11      |delivery_comp_3 |2       |544.33|8/4/2022    |Oak Avenue Los Angeles CA 90001   |
|12      |delivery_comp_0 |20      |200.0 |null        |Cedar Lane Los Angeles FL 77001   |
|13      |delivery_comp_1 |99      |939.0 |null        |Main Street Chicago IL 33101      |
|14      |delivery_comp_2 |69      |72.0  |2/3/2022    |Oak Avenue Los Angeles NY 33101   |
|15      |delivery_comp_3 |null    |635.28|15-2-2022   |Main Street Miami FL 10001        |
|16      |delivery_comp_0 |1       |592.83|2/3/2022    |Main Street Los Angeles FL 90001  |
|17      |delivery_comp_1 |2       |533.6 |2/3/2022    |Maple Drive Houston TX 90001      |
|18      |delivery_comp_2 |null    |424.7 |null        |Cedar Lane New York TX 33101      |
|19      |delivery_comp_3 |97      |889.0 |4/3/2022    |Elm Street Miami TX 90001         |
|20      |delivery_comp_0 |2       |222.12|20/3/2022   |Maple Drive Miami IL 77001        |
+--------+----------------+--------+------+------------+----------------------------------+
only showing top 20 rows